[Unit]
Description=Unicafe Telegram bot
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={working_dir}
ExecStart={exec_start}
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

